<% include Share/_header.ejs %>
<% include Share/_menu.ejs %>

<div id="CartPage">
	<div class="inner">
		<h1 class="cartCk">Checkout</h1>

		<div class="cartBlock">
	    <div class="blockHead">
	      <div class="bLeft"><%= cart["ads"]["blockTitle"][lgkey] %></div>
	      <div class="bRight"></div>
	    </div>
	    <div class="adsList clearfix">
		 		<% cart["ads"]["list"].forEach(function(ct,k){ %>
	    	<div class="adsBlock <% if(ct["isDefault"]){ %> active <% } %>">
	    		<div class="adsInner">
	    			<div class="adsTop">
		    			<span class="aName"><%= ct["uname"][lgkey]%></span>
		    			<span class="aPhone"><%= ct["phone"][lgkey]%></span>
		    		</div>
		    		<div class="adsInfo">
		    			<%= ct["address"][lgkey]%>
		    		</div>
		    		<div class="adsBottm">
		    			<a href="javascript:;" class="setDefault">Default</a>
		    			<div class="editBox">
		    				<a href="javascript:;" class="editBtn">Edit</a><span>|</span>
		    				<a href="javascript:;" class="editBtn">Delete</a>
		    			</div>
		    		</div>
	    		</div>
	    	</div>
		 		<% }) %>
		 		<a href="javascript:;" class="addAds">add shopping address</a>
	    </div>
    </div>

		<div class="cartBlock">
	    <div class="blockHead">
	      <div class="bLeft">Shopping Cart</div>
	      <div class="bRight">
	        <div class="orderInfo">Price</div>
	        <div class="orderInfo">Quantity</div>
	        <div class="orderInfo total">Subtotal</div>
	        <div class="orderInfo optin">&nbsp;</div>
	      </div>
	    </div>
	    <div class="orderList">
				<% for(var od=0;od<3;od++){ %>
	    	<div class="oderRow">
	    		<div class="wImg"><img src="/images/wine/wine101.jpg" alt=""></div>
	    		<div class="wInfoBox">
		    		<div class="wInfo">
		    			<div class="wName">
		    				Wine Saver | Vacu Vin
		    				<div class="mobilr mbPrice">$<span>180</span></div>
		    			</div>
		    			<div class="wOvs">The Wine Server allows perfect, non-drip pouring every time! The Wine Server catches...</div>
		    		</div>
		    		<div class="wCount">
		    			<div class="wnInfo wTotal">$<span>180</span></div>
		    			<div class="wnInfo wQuan">x<span>1</span></div>
		    			<div class="wnInfo proTotal">$<span>180</span></div>
		    			<div class="wnInfo cartEdit">
		    				<div class="delt">Remove</div>
		    				<div class="cartLike">Add to Wishlist</div>
		    			</div>
		    		</div>
	    		</div>
	    	</div>
				<% } %>
	    </div>
	    <div class="wMore">
	    	<div class="msg">
	    		<span>Message</span><input type="text" id="MsgIpt">
	    	</div>
	    	<div class="totals">
	    		<span>Total</span><em>$270.00</em>
	    	</div>
	    </div>
    </div>

		<div class="cartBlock payBox">
	    <div class="blockHead">
	      <div class="bLeft">Payment</div>
	      <div class="bRight"></div>
	    </div>
	    <div class="payList">
	    	<ul>
	    		<li>
	    			<a href="javascript:;" class="payType cod active"><span>Cash on delivery (COD)</span></a>
	    		</li>
	    		<li>
	    			<a href="javascript:;" class="payType alipay"><span>Alipay</span></a>
	    		</li>
	    		<li>
	    			<a href="javascript:;" class="payType wechat"><span>WeChat Pay</span></a>
	    		</li>
	    	</ul>
	    </div>

    	<div class="btnBox">
    		<div class="bbInner">
	    		<div class="total mobile">
	    			Total: $<span>180</span>
	    		</div>
					<a href="javascript" class="add2Cart ptBtn"><span>Proceed with Payment</span></a>
				</div>
			</div>
    </div>

	</div>
</div>

<% include Share/_footer.ejs %>