<% include Share/_header.ejs %>
<% include Share/_menu.ejs %>

<!-- Swiper -->
<div class="swiper-container homeSlide">
    <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

<div class="pages inner">
  <div class="proBlock">
    <div class="blockHead">
      <div class="bLeft">Latest From Your Favorite Bloggers</div>
      <div class="bRight">
        <a href="javascript:;" class="proMore prev"><span>Previous</span></a>
        <a href="javascript:;" class="proMore next"><span>Next</span></a>
      </div>
    </div>
  </div>
</div>
<script>
  var swiper = new Swiper('.swiper-container', {
      loop : true,
      autoplay:2000,
      slidesPerView: 3,
      paginationClickable: true,
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
      spaceBetween: 5,
      freeMode: true
  });
</script>

<% include Share/_footer.ejs %>