<% include Share/_header.ejs %>
<% include Share/_menu.ejs %>

<!-- Swiper -->
<div id="featuredGallery">
  <div class="navGallery">
    <span class="arrowLeft"></span>
    <span class="arrowRight"></span>
  </div>
  <div class="container swiper-container">
    <div class="wrapper swiper-wrapper">
      <a id="s1" class="galleryItem swiper-slide" href="http://www.voicer.me/archives/38791" rel="bookmark">
        <div class="thImage b-lazy" data-src="http://7xijn6.com1.z0.glb.clouddn.com/wp-content/uploads/2016/08/ExFBhrU-960x645.jpg"></div>
      </a>
      <a id="s2" class="galleryItem swiper-slide" href="http://www.voicer.me/archives/38791" rel="bookmark">
        <div class="thImage b-lazy" data-src="http://7xijn6.com1.z0.glb.clouddn.com/wp-content/uploads/2016/08/ExFBhrU-960x645.jpg"></div>
      </a>
      <a id="s3" class="galleryItem swiper-slide" href="http://www.voicer.me/archives/38791" rel="bookmark">
        <div class="thImage b-lazy" data-src="http://7xijn6.com1.z0.glb.clouddn.com/wp-content/uploads/2016/08/ExFBhrU-960x645.jpg"></div>
      </a>
      <a id="s4" class="galleryItem swiper-slide" href="http://www.voicer.me/archives/38791" rel="bookmark">
        <div class="thImage b-lazy" data-src="http://7xijn6.com1.z0.glb.clouddn.com/wp-content/uploads/2016/08/ExFBhrU-960x645.jpg"></div>
      </a>
      <a id="s5" class="galleryItem swiper-slide" href="http://www.voicer.me/archives/38791" rel="bookmark">
        <div class="thImage b-lazy" data-src="http://7xijn6.com1.z0.glb.clouddn.com/wp-content/uploads/2016/08/ExFBhrU-960x645.jpg"></div>
      </a>
      <a id="s6" class="galleryItem swiper-slide" href="http://www.voicer.me/archives/38791" rel="bookmark">
        <div class="thImage b-lazy" data-src="http://7xijn6.com1.z0.glb.clouddn.com/wp-content/uploads/2016/08/ExFBhrU-960x645.jpg"></div>
      </a>
    </div>
  </div>
</div>


<div class="pages inner">
  <div class="proBlock">
    <div class="blockHead">
      <div class="bLeft">Latest From Your Favorite Bloggers</div>
      <div class="bRight">
        <a href="javascript:;" class="proMore prev"><span>Previous</span></a>
        <a href="javascript:;" class="proMore next"><span>Next</span></a>
      </div>
    </div>
  </div>
</div>
<script src="/javascripts/scroll_config.js"></script>

<% include Share/_footer.ejs %>