<% include Share/_header.ejs %>
<% include Share/_menu.ejs %>

<div id="OrderPage">
	<div class="inner">
		<div class="orderResult">
			<p class="odInfo"><%= langs["odrSuccess"][lgkey] %></p>
			<p class="thx"><%= langs["thx"][lgkey] %></p>
			<a href="javascript:;" class="ckBtn"><span><%= langs["ckOdr"][lgkey] %></span></a>
			<a href="/" class="goHome"><span> < <%= langs["backHome"][lgkey] %> </span></a>
		</div>
		
	</div>
</div>

<% include Share/_footer.ejs %>