@charset "utf-8";
.mobileCart{display: none;}
.mobile{display: none;}
@media screen and (min-width: 0px) and (max-width: 1250px) {
	.iptSearch{width: 200px}
}
@media screen and (min-width: 0px) and (max-width: 1020px) {
	.iptSearch{width: 150px}
}
@media screen and (min-width: 0px) and (max-width: 980px) {
	.searchBox{padding-right:0;}
	.searchBox{display: none;}
}
@media screen and (min-width: 0px) and (max-width: 960px) {
	.inner{width: 736px;}
  .fRow{clear: none;}
	.ctgList li,.ctgList.col-4 li{width: 359px}
	.ctgImg,.ctgList.col-4 .ctgImg{height: 300px}

	/*video*/
	.video{width: 100%;float: none;}
		.iframe{width: 100%}
		.videoRight{width: 100%;float: none;height: 245px}
		.ctgMList {overflow: hidden;}
		.videoRight .ctgMList li{float: left;width: 30%;margin-right: 1%}
	.detailLeft{width: 100%;float: none;}
		.cmtIpt .txtArea textarea{width: calc(100%-80px);-webkit-width: calc(100%-80px)}
	.detailRight.mbHide{display: none;}
	.proList li{width: 234px;}

	/*blog*/
	.blogLeft,.blogRight{float: none;width: 100%}
		.blogRight .add2Cart,.blogRight .flwBtn{height: 42px;line-height: 42px;width: 150px;max-width: 60%;}
	.blogRight .recInfo{overflow: hidden;padding-left:10px;}
	.riLeft{float: left;width: 40%}
	.blogRight .flwBtn{float: none;max-width: 40%;}

	/*cart*/
  .cartBlock .bRight,.wCount{width: 55%}
  .proTotal{text-align: center;}
}

@media screen and (min-width: 0px) and (max-width: 736px) {
  body{width: 100%;min-width: 100px;font-size: 62.5%;max-width: auto;background: #E9E9F0}
  .inner{width: 95%;}
	.mobile{display: inline-block;}
	.mbHide{display: none;}
	#MbMenuBtn{display: block;}

	.mobileCart{display: inline-block;background: url("../images/mobile/spCart.png") no-repeat 0 50%;padding-left: 28px;background-size: 20px auto}
	#MenuBtn{display: none;}

	.ctgImg,.ctgList.col-4 .ctgImg{height: 210px}

	#Menu li{display: none;}
	#Menu li.mobile{display: inline-block;}
	.bLeft{font-size: 2.4em}
	.ctgList ul{margin-left: 0;}
		.ctgList li{float: none;width: 100%;margin-left: 0;height: 225px;}
		.cBlk_0 .ctgList li{height: auto;}
		.ctgList.col-4 ul{margin-left: -4%;overflow: hidden;}
		.cBlk_0 .ctgList ul li.li_5{display: none;}
		.ctgList.col-4 li{float: left;width: 46%;margin-left: 4%}
		.ctgList.col-4 li .ctgImg{height: 130px;}
		.cBlk_3 .li_4,.cBlk_3 .li_5,.cBlk_3 .li_6,.cBlk_3 .li_7{display: none;}
		.ctgMore{display: none;}
		.ctgLink p{font-size:1.4em;line-height: 1.4em}
	.liMore{width: 100%;overflow: hidden;}
		.mBtn{width: 48%;display: block;height: 30px;background: url("../images/mobile/btnLeft.png") no-repeat 50% 50% #D9D9DF;float: left;background-size: auto 40%;text-indent: -99999px;}
		.liNext{background-image: url("../images/mobile/btnRight.png");float: right;}

	/*video*/
	#VideoBox{padding: 0}
	#VideoBox .inner{width: 100%}
		.iframe{height: 250px}
		.fltBox .wqr{width: 45px;height: 45px;}
		.fltBox .wqr .qrSmall canvas{width: 45px;height: 45px;}
		.wineAdd{padding:0 0 0 55px;}
			.addHd{font-size: 1.4em;padding-bottom: 0}
			.addOvs{font-size: 1.2em}
	.videoRight{height: auto;background: #E9E9F0;}
		.vrtRight{overflow: hidden;position: relative;padding-left: 10px;}
		.vrTop{margin-bottom: 0;width: 100%;border-bottom:1px dotted #2C2C3C;}
		.wCtgName, .flwNumb{color: #303042;width: 70%;float: left;}
		.wCtgName{font-size: 2em;line-height: 1.6em}
		.flwNumb{font-size: 1.4em;}
		.ctgMList.mbHide{display: none;}
		.videoRight .flwBtn{position: absolute;top: 10px;right: 0}
	h1.wTitle .wTInfo{font-size: 2em;line-height: 1.4em; float: none;display: block;}
	h1.wTitle .wvws{float: none;display: block;font-size: 1.4em}

	.shareMain .jiathis_style_32x32 .jiathis_txt{width: 35%;margin-right: 0}
	.cpIpt{width: 60%}

	.wUpload{display: none;}
	.mobile.coming{width: 100%}
		.mobile.coming .ctgMList{border-bottom: none;padding: 15px 0;}
		.mobile.coming .cName,.mobile.coming .cView{color: #303042;font-size: 1.2em;line-height: 1.4em}
		.mobile.coming .cView{color: #71718F}
	.proList ul{margin-left: 0;}
		.proList li{float: none;width: 100%;margin: 0 0 20px 0;overflow: hidden;}
			.proImg{float: left;width: 30%;height: 150px;}
				.proImg img{max-width: 100%;height: 100%;}
			.pDtl{float: left;padding-left: 10px;width: 65%}
			.pTitle{font-size: 1.6em;height: auto;}
			.price{font-size: 1.4em;line-height: 1.4em;padding-bottom: 10px}
			.pLike .price,.proLikeBtn{float: none;display: block;}
			.p_3,.p_4,.p_5{display: none;}
			.proList .add2Cart{width: 70%}
		.txtArea{width: 80%}
		.txtArea textarea{width: 90%;height: 90%;padding: 0;margin: 2% 0 0 2%}
	.paging{width: 100%}
	.paging img{width: 100%}

	#featuredGallery .container{height: 320px;}
  #featuredGallery .wrapper{width:calc(100%*6);height: 320px}
  #featuredGallery .galleryItem{width: 100%}

	/*blogger*/
	.blogBox{padding:15px 0;}
	.userBox .pageMenu li{width: 25%;text-align: center;margin: 0}
		.bDetail{display: none;}
		.uHead{width: 80px;height: 80px;}
		.uMain{float: left;padding-left: 10px;width: 70%;}
		.blogLeft .ctgList li {height: auto;}
			.blogLeft .ctgList li .ctgLink{overflow: hidden;}
			.blogLeft .ctgList li .ctgImg{float: left;width: 40%;}
			.bDtls{float: left;padding-left: 10px;width: 55%;}
			.bLi_3,.bLi_4,.bLi_5,.bLi_6,.bLi_7,.bLi_8{display: none;}
		.blogBox .ctgLink p.ctgTitle{font-size: 1.6em;padding-bottom: 5px;}
		.recBlock .recHead{font-size: 2em;}
		.recBlock .recTitle{font-size: 1.4em;}

	/*cart*/
	#CartPage{padding: 20px 0}
	.cartBlock{padding-bottom: 20px;}
		.cartCk{padding-bottom: 20px;}
		.adsBlock{width: 100%;height: auto}
		.adsInfo{height: auto;padding-bottom: 20px;}
		.delt,.cartLike{text-indent: -99999px}
		.addAds{width: 100%;height: 50px;background-size: auto 100%;background-position: right 50%;}
		.cartBlock .bRight{display: none;}
		.orderList{padding-bottom: 60px;}
			.oderRow .wOvs{display: none;}
			.wInfoBox{}
			.wInfo{overflow: hidden;width: 68%;padding-bottom: 8px;}
				.wName{font-size: 1.6em;padding-bottom: 10px;overflow: hidden;}
				.wCount{float: left;width: 70%}
				.wnInfo.cartEdit{width: 38%}
				.wCount .wTotal,.wCount .proTotal{display: none;}
				.delt,.cartLike{float: left;margin-left: 15px;width: 25px;padding:5px 0}
				.mbPrice{display: block;float: right;}
	.wMore,.payBox .blockHead{display: none;}
	.btnBox{background: #41415B;position: fixed;bottom: 0;left: 0;width: 100%;z-index: 5;padding:0;}
	.bbInner{padding: 10px;overflow: hidden;}
	.bbInner .total.mobile{font-family: "Helvetica-Bold";font-size: 1.8em;line-height: 2em;color: #fff}

	#OrderPage{padding: 80px 0;}
	.odInfo{font-size: 1.6em}
	.thx{font-size: 3em}
	.ckBtn,.goHome{font-size: 1.4em;}

	.ftRow{padding: 10px 0}
  .lgTip,#Copyright,.ftMenu,#FtLogo{display: none;}
  .mobile.copyright{text-align: right;float: right;}
}