@charset "utf-8";
@font-face { 
  font-family: 'PTSerif';
  src: url('./font/pt-serif/PTF55F.ttf') format('truetype');
}
@font-face { 
  font-family: 'PTSerif_Italic';
  src: url('./font/pt-serif/PTF56F.ttf') format('truetype');
}
@font-face { 
  font-family: 'PTSerif_Bold';
  src: url('./font/pt-serif/PTF75F.ttf') format('truetype');
}
@font-face { 
  font-family: 'PTSerif_Bold_Italic';
  src: url('./font/pt-serif/PTF76F.ttf') format('truetype');
}
@font-face { 
  font-family: 'Helvetica';
  src: url('./font/helvetica/HelveticaNeueLTPro-Roman.ttf') format('truetype');
}
@font-face { 
  font-family: 'Helvetica-Bold';
  src: url('./font/helvetica/HelveticaNeueLTPro-Bd.ttf') format('truetype');
}
body {background: #E6E6EE; color: #5C5C5C;font-family:"Helvetica",'PTSerif',Arial,"Microsoft YaHei","微软雅黑","宋体"; font-size: 14px; line-height: 18px; margin: 0; padding: 0}
h1, h2, h3, h4, h5, h6, p, form { margin: 0; padding: 0; font-weight: normal; font-size: 14px; }
ul, li, menu, ol, dd, dl, dt { list-style: none outside none; margin: 0; padding: 0; }
img, a { border: medium none; color: #5C5C5C; text-decoration: none; }
em,i { font-style: normal; }
table td {border-collapse: collapse;padding:0;margin:0}
input[type=submit], input[type=button], button {cursor:pointer}
.clearn, .clear { clear: both; height: 0; }
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.hidden,.hide { display: none !important; visibility: hidden !important; }
.text { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.sbSeo{position: absolute;top: -5000px;}
.f_left{float:left}
.hided{display: none}

.inner{margin: 0 auto;width: 960px;}
#Wrapper{padding-top: 60px;}

header{background: #2C2C3C;padding: 10px 0;position: fixed;z-index: 999;width: 100%;top:0;left: 0}
#LeftMenu{float: left;width: 50px;height: 40px;position: relative;}
	#MenuBtn,#MbMenuBtn{display: block;text-indent: -999999px;background: url("../images/menu.png") no-repeat 50% 15px;width:100%;height: 100%; }
	#MenuBtn.active,#MbMenuBtn.active{background-position:50% -71px }
#Logo{background: url("../images/logo.png") no-repeat 50% 50%;display: block;float: left;margin-right: 65px;width: 126px;height: 38px;text-indent: -999999px;}

.hdRight{float: right;padding-right: 10px;}

.searchBox{overflow: hidden;float: right;padding-right: 20px;}
	.iptBlock{float: left;margin-right: 15px;}
	.iptSearch{color: #8b8bac;border: none;outline: none; border-radius: 3px;width:400px;padding: 12px 5px 12px 45px;background: url("../images/seach.png") no-repeat 16px 50% #3B3B52;}
    ::-moz-placeholder { color: #8b8bac; }
    ::-webkit-input-placeholder { color:#8b8bac; }
    :-ms-input-placeholder { color:#8b8bac; }
	.searchBtn{float: left;display: block; width: 110px;line-height: 40px;height: 40px;background: #686886;border-radius: 3px; text-align: center;color: #fff;font-family: "PTSerif_Italic"}

#Menu {float: right;}
#Menu li{float: left;color: #8383a6;position: relative;text-align: center;line-height: 40px;padding: 0 5px;font-size: 12px;font-family: "Helvetica"}
	#Menu li:last-child > span{display: none;}
	.mLink{color: #8383a6}
	.mLink:hover,.mLink.active{color: #fff}
  .mLink.hasSub{background: url("../images/arrow01.png") no-repeat right 50%;padding-right:15px;}
  .mLink.hasSub.active{background-image: url("../images/arrow02.png");}
  .mLink.cartLink{padding-right: 20px;}
	.mCut{padding: 0 0 0 5px;}
	.cartConut{/*position: absolute;right: 12px;top:12px;*/display: inline-block;background: #7ea656;color: #fff;font-family: "Helvetica-Bold";border-radius: 50%;width: 18px;height: 18px;text-align: center;line-height: 18px;}
.subBox{display: none;position: absolute;z-index: 5;top: 30px;left: -20px;background: #41415B;border-top: 20px solid #2C2C3C;width: 100%;padding:10px 20px;border-radius: 0 0 3px 3px}
.subArrow{display: block;background: url("../images/arrow_menu.png") no-repeat 50% 0;top: -19px;text-indent: -99999px;height: 20px;position: absolute;z-index: 5;width: 100%;left: 0;}
.subMenu{width: 100%}
  #Menu .subMenu li{float: none;text-align: left;line-height: 18px;padding: 0;}
  .subMenu li a{display: block;color: #8b8bac;padding: 5px 0;}
  .subMenu li a:hover,.subMenu li a.active{color: #fff}


/*MobileMenu*/
#MbMenuBtn{display: none;}
#MobileMenu{position: absolute;top:100%;left: -100%;z-index: 999;background: #41415b;width: 100%;height: 100%;overflow: hidden;}
#MobileMenu .inner{width: auto;padding: 10px;}
#MobileMenu .mSubBox{display: block;padding: 20px 0 0}
#MobileMenu .searchBox{width: 100%;display: block;float: none;}
#MobileMenu .iptSearch,#MobileMenu .iptBlock{width: 100%}
.mbMenuList,.mbFtMenu {padding: 20px}
.mbMenuList li{padding: 20px 0;border-bottom: 1px dotted #727291}
#MobileMenu .bold{border: none;}
#MobileMenu .mLink{font-size: 1.6em;display: block;color: #fff}
#MobileMenu .bold .mLink{font-size: 2em;}
#MobileMenu .mLink.active span,#MobileMenu .mLink:hover span{border-bottom: 2px solid #fff}
.mSubMenu,.mbFtMenu{overflow: hidden;}
.mSubMenu li,.mbFtMenu li{float: left;padding: 5px 0;width: 50%;border: none;}
.mSubMenu li a,.mbFtMenu li a{color: #8383a6;font-size: 1.4em;}


#SlideMenu{padding: 0;height: 0;overflow: hidden;opacity: 0;}
.sldMBox{border-bottom: 1px solid #2C2C3C}
#SlideMenu ul{overflow: hidden;margin: 0 auto;width: 440px;}
#SlideMenu ul li{float: left;padding: 0 50px;}
#SlideMenu ul li a{color: #303042;font-size: 16px;display: block;padding:0 5px 4px;border-bottom: 3px solid transparent;line-height: 25px;}
#SlideMenu ul li a.active{border-color: #2C2C3C}


.pages{padding: 0 0 50px}
/**首页**/
.homeSlide{margin-bottom: 60px;}

#featuredGallery{position:relative;margin-bottom: 50px}
#featuredGallery .container{position:relative;width:100%;height:430px;overflow-x:scroll;overflow-y:hidden}
#featuredGallery .wrapper{position:absolute;width:calc(640px*5);height:430px}
.navGallery{position:absolute;top:0;width:100%;z-index:666}
.navGallery>.arrowLeft{position:absolute;top:100px;left:30px;height:230px;width:100px;background:url(../images/btn_gallery_arrow_left@2x.png) no-repeat center;background-size:44px 44px;cursor:pointer;display:none}
.navGallery>.arrowRight{position:absolute;top:100px;right:30px;height:230px;width:100px;background:url(../images/btn_gallery_arrow_right@2x.png) no-repeat center;background-size:44px 44px;cursor:pointer;display:none}
#featuredGallery .galleryItem{float:left;width:640px;height:100%;background:#C0C0C0}
#featuredGallery .galleryItem .thImage{position:relative;height:100%;width:100%;background:no-repeat center;background-size:cover}

.swiper-button-prev,.swiper-button-next{border-radius: 50%;background:url("../images/arrow_left.png") no-repeat 50% 50% rgba(44,44,60,0.8);width: 45px;height: 45px;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{left: 5%;right: auto;}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{left: auto;right: 5%;background-image:url("../images/arrow_right.png")}

/** pro list */
.blockHead{overflow: hidden;padding: 10px 0;border-bottom: 1px dotted #2C2C3C;line-height: 30px}
  .bLeft{font-family:"PTSerif_Italic";font-size: 28px;color: #303042;float: left;}
    .bLeft .ctgBrief{font-size: 14px;color: #797980;padding: 0 10px}
  .bRight{font-family:"PTSerif_Italic";float: right;font-size: 14px;}
    .ctgMore{padding: 0 0 0 15px;margin: 0 5px;background: url("../images/list_left.png") no-repeat 0 50%;}
    .ctgMore.next{background: url("../images/list_right.png") no-repeat right 50%;padding: 0 15px 0 0}
.ctgBlock{padding-bottom: 20px;}
.ctgList{padding: 20px 0 10px}
.ctgList ul{overflow: hidden;margin-left: -18px}
.ctgList li{float: left;width: 308px;margin: 0 0 20px 18px}
.fRow{clear: both;}
  .ctgLink{display: block;width: 100%;}
    .ctgLink:hover .ctgTitle{color: #71718f}
    .ctgLink p{line-height: 18px}
    .ctgImgBox{position: relative;display: block;}
      .ctgImg{display: block;width: 100%;/*height: 178px;*/margin-bottom: 10px;}
      .ctgImgBox .vTime{position: absolute;background: rgba(44,44,60,0.6);color: #fff;padding: 1px 3px;font-size: 12px;right: 7px;bottom: 4px;border-radius: 3px;}
    .ctgTitle{font-family:"Helvetica-Bold";line-height: 16px;}
    .ctgOvs{font-size: 12px;color: #797980}
    .view{font-family: "PTSerif_Italic";font-size: 12px;color: #797980}
.ctgList.col-4 li{width: 226px;}
.ctgList.col-4 .ctgImg{/*height: 130px;*/}

/** video **/
.floatOrder{width:50px;height:50px;padding:2px;background:#fff;border:solid 1px #3B3B52;overflow:hidden;position:absolute;z-index:9999;}
#VideoBox{background: #1E1E23;padding: 18px 0;margin-bottom: 20px;}
  .video{position: relative;width: 665px;float: left;}
    .fltBox{position: absolute;z-index: 3;right: 20px;bottom: 20px;background: rgba(26,29,35,0.8);border-radius: 5px;padding: 8px;}
    .wqr{width: 60px;height: 60px;border-radius: 3px;float: left;position: relative;}
    .qrSmall{width: 100%;height: 100%}
    #QRcode{position: absolute;top: -150%;left: 0;display: none;}
    .wineAdd{width:170px;color: #A0A09D;padding: 5px 0 0 70px;}
      .addHd{font-size: 18px;padding-bottom: 5px;}
      .addOvs{font-size: 12px;line-height: 14px;}
    .iframe{width: 665px;height: 405px;}
  .videoRight{width: 295px;height: 405px; background: #2C2C3C;float: right;}
    .vrInner{padding: 15px 20px 0}
    .vrTop{padding: 10px 0 15px;border-bottom: 1px solid #4A4A59;margin-bottom: 15px;overflow: hidden;}
      .portrait{width: 75px;height: 75px;border-radius: 50%;float: left;}
      .vrtRight{padding-left: 90px;}
        .wCtgName,.flwNumb{font-size: 14px;font-family: "Helvetica-Bold";color: #e9e9f0}
        .flwNumb{font-family: "Helvetica"}
        .wCtgName a{color: #e9e9f0}
        .flwNumb{font-size: 12px}
        .flwBtn{background: #686886;color: #e9e9f0;border-radius: 5px;display: block;width:100px;height: 33px;line-height: 33px;text-align: center; margin: 5px 0 0;font-family: "PTSerif_Italic";font-size: 12px;}
        .flwBtn.isFlwed{background: #A9A9AE}
   ul.ctgMList{border-bottom: 1px solid #4A4A59;}
   .ctgMList li{padding-bottom: 15px;}
     .ctgMList li a{display: block;overflow: hidden;}
     .ctgMList li a img{float: left;width: 112px;height: 65px;}
     .cInfos{display: block;padding-left: 125px;}
     .cName{display: block;font-size: 12px;font-family:"Helvetica-Bold";color: #e9e9f0;line-height: 14px;}
     .cView{font-size: 12px;font-family: "PTSerif_Italic";color: #71718f}
     .ctmBtn{display: block;width: 100%;height: 30px; background: url("../images/arrow01.png") no-repeat 50% 50%;}
.detailLeft{float: left;width: 635px;}
  .wTop{padding-bottom: 20px;}
  h1.wTitle{line-height: 30px;overflow: hidden;padding:10px 0 0;}
    h1.wTitle .wTInfo{font-size: 28px;float: left;}
    h1.wTitle .wvws{font-size: 22px;float: right;font-family: "PTSerif_Italic"}
    .wUpload{font-family: "PTSerif_Italic";font-size: 12px;color: #797980}
  .wOverview{padding: 0 0 25px}
    .ovBox{padding-bottom: 5px;}
    .openBtn{text-decoration: underline}
.shareBox{position: relative;background: #D4D4DB;padding: 10px 20px;}
  .shareLeft{float: left;font-size: 12px;}
    .shareLeft span{padding: 0 5px;}
  .shareRight{float: right;}
    .like,.unlike{padding-left: 20px;background: url("../images/like.png") no-repeat 0 50%;margin-right: 20px}
    .unlike{background-image: url("../images/unlike.png");margin-right: 0}
.shareMain{position: absolute;top: 100%;left: 0;width: 100%;background:#fff;z-index: 2;display: none}
  .smInner{padding: 10px;position: relative;}
    .shareArrow{background: url("../images/shareArrow.png") no-repeat 50% 0;width: 20px;height: 10px;position: absolute;top:-5px;left: 135px}
    .shareMain .jiathis_style_32x32 .jiathis_txt{font-size: 14px;margin:0 20px 0 0;}
    .jiathis_style_32x32 .weChatMoment .jtico_weixin{background-image: url("../images/wechat2.png");background-position:0 0;}
    .cpLink{padding: 10px 0;overflow: hidden;clear: both;}
      .cpIpt{width: 75%;background: none;border:1px solid #D4D4DB;border-radius: 3px;padding: 10px 10px;float: left;}
      .cpBtn{display: block;float: right;width: 20%;background: #686886;color: #fff;border-radius: 3px;text-align: center;line-height: 36px;}
.productBox{padding: 50px 0 30px;}
  .addAllBtn{background: #686886;font-family: "PTSerif_Italic";border-radius: 5px;color: #e9e9f0;height: 33px;line-height: 33px;text-align: center;padding: 10px 25px;font-size: 12px;}
  .proList{padding: 20px 0 0}
  .proList ul{overflow: hidden;margin-left: -16px}
  .proList li{float: left;width: 200px;margin: 0 0 50px 16px}
  .proImg{background: #fff;text-align: center;width: 100%;}
  .proImg img{max-width: 100%;}
  .pTitle{display: block;padding: 10px 0;font-family: "Helvetica-Bold";height: 40px}
  .pLike{overflow: hidden;padding-bottom: 20px}
    .pLike .price{float: left;}
    .proLikeBtn{float: right;background: url("../images/like2.png") no-repeat;width: 22px;height: 19px;cursor: pointer;}
    .proLikeBtn:hover{background-image:url("../images/like3.png")}
    .add2Cart{display: block;width: 100%;height: 38px;line-height: 38px;text-align: center;font-family: "PTSerif_Italic";font-size: 12px;background: #799D4D;border-radius: 3px;color: #fff}
    .add2Cart.noStock{background: #A9A9AE}
.cmtBlock{padding: 20px 0 15px;margin-bottom: 10px;border-bottom: 1px solid #CFCFD7;overflow: hidden;}
  .cmtIpt{overflow: hidden}
    .cmtHead{float: left;width: 52px;height: 51px;}
    .txtArea{background: #fff;width: 565px;height: 110px;float: right;}
    .txtArea textarea{padding: 15px 30px;width: 505px;height: 80px;background: none;border: none;outline: none;}
    .postBtn{clear: both; float: right;width: 105px;height: 38px;line-height: 38px;color: #fff;text-align: center;font-family:"PTSerif_Italic";font-size: 12px;background: #686886;border-radius: 3px;margin: 10px 0 0}
.cmtList{padding: 0 0 20px;margin-bottom: 10px;border-bottom: 1px solid #CFCFD7;}
  .cmtType{padding: 0 0 30px;font-size: 12px;}
    .cmtType .active{font-family: "Helvetica-Bold"}
    .cmtType span{padding: 0 5px}
  .cmtsBlock{overflow: hidden;padding-bottom: 20px;}
    .cmtUser{font-size: 12px;padding-bottom: 5px;}
      .cmtName{font-family: "Helvetica-Bold"}
  .cmtCont{padding-left: 65px;}
    .cmtInfos{padding-bottom: 5px;font-size: 12px;}
    .replys{overflow: hidden;font-size: 12px;}
      .rpNumb{font-family: "Helvetica-Bold";padding-right: 20px;float: left;}
      .cmtLike{float: left;padding-left: 20px;background: url("../images/like.png") no-repeat 0 50%;}
  .subCmt {padding-bottom: 20px}
  .subCmt .cmtsBlock{padding: 20px 0 20px;margin-bottom: 10px;border-bottom: 1px solid #CFCFD7}
    .subCmt .cmtsBlock .cmtHead{width: 45px;height: 45px;}
    .subCmt .cmtsBlock .cmtCont{padding-left: 60px;}
.moreReply{font-size: 12px;}

.paging{padding: 20px 0 10px}

.detailRight{float: right;width: 295px;}
  .recBlock{background: #fff;margin-bottom: 30px;}
  .recInner{padding: 20px 15px 0;}
  .recHead{font-size: 16px;font-family: "PTSerif_Italic";padding: 0 0 20px;}
  .recList{border-bottom: 1px solid #D8D8DF}
  .recRow{overflow: hidden;padding: 0 0 20px;}
    .recImg{float: left;text-align: center;width: 140px;height: 82px;}
    .recImg img{max-width: 100%;max-height: 100%}
    .recInfo{padding-left: 150px;}
    .recTitle{font-family: "Helvetica-Bold";padding:0 0 5px;line-height: 14px;font-size: 12px;}
    .recPrice p{font-size: 12px;}
    .recVews{font-family: "PTSerif";color: #797980}
  .recMore{display: block;width: 100%;text-align: center;padding: 10px 0;font-family: "PTSerif";}
  .recMore span{background: url("../images/arrow01.png") no-repeat right 50%;padding-right: 15px;}

/** brogger  */
.pageImgs{width: 100%;height:225px; background: url("../images/blogger/img1.jpg") no-repeat 50% 50% #322B23;}
.userBox{background: #fff}
.userBlock{padding: 50px 0 55px;overflow: hidden;}
.uHead{float: left;}
.uMain{padding-left: 185px}
  .uMain .flwBtn{float: right;}
  .bTitle{font-family: "PTSerif";font-size: 22px;line-height: 20px;padding: 0 0 10px}
  .bFlw span{font-family:"Helvetica-Bold"}
  .bDetail{font-size: 12px;padding: 15px 0 5px;}
.pageMenu ul{overflow: hidden;}
.pageMenu li{float: left;margin-right: 50px;}
.pageMenu li a{display: block;padding: 0 0 10px;border-bottom: 2px solid #fff;font-family: "PTSerif"}
.pageMenu li a.active{border-bottom: 2px solid #2C2C3C}

.blogBox{padding: 55px 0 50px;overflow: hidden;}
.blogLeft{width: 635px;float: left; }
  .blgList li{width: 200px;margin: 0 0 20px 17px;}
  .blgList li .ctgImg{height: auto;}
.blogRight{float: right;width: 295px;}
  .blogRight .recBlock{background: #F6F6FC}
  .blogRight .recImg{width: 85px;height: 85px; border: 1px solid #E6E6EE;background: #fff}
  .blogRight .recImg.uHead{border: none;background: none}
  .blogRight .recInfo{padding-left: 100px;}
  .blogRight .add2Cart{width: 60%;height: 30px;line-height: 30px;margin-top: 5px;}

/**cart**/
#CartPage{padding: 70px 0 10px;}
.cartCk{font-family:"PTSerif_Italic";font-size: 28px;line-height: 30px;padding: 0 0 40px;}
.cartBlock{padding-bottom: 60px;}
.adsList{padding: 20px 0 0}
.adsBlock{width: 220px;height: 220px;float: left;background: #fff; margin:0 18px 18px 0;border:2px solid #fff}
.adsBlock.active{border-color: #8D8DB7}
.adsInner{padding: 15px}
.adsTop{overflow: hidden;border-bottom: 1px solid #CFCFD7;padding: 5px 0 10px;margin-bottom: 10px;}
  .aName{float: left;}
  .aPhone{float: right;font-size: 12px;}
.adsInfo{height: 125px;font-size: 12px;}
.adsBottm{overflow: hidden;}
  .setDefault{padding-left: 25px;background: url("../images/checked_un.png") no-repeat 0 50%;float: left;}
  .adsBlock.active .setDefault{background-image: url("../images/checked.png");}
  .editBox{float: right;color: #7ea656}
    .editBox span{padding: 0 5px;}
    .editBtn{font-size: 12px;color: #7ea656}
.addAds{display: block;background: url("../images/add.jpg") no-repeat 50% 50%; width: 224px;height: 224px;text-indent: -99999px;float: left;}
.cartBlock .blockHead{padding: 5px 0}
  .cartBlock .bLeft{font-size: 16px;}
  .cartBlock .bRight{overflow: hidden;width: 60%}
  .orderInfo{float: left;width: 25%;text-align: center;}
  .ckCart .orderInfo.optin{display: none;}
  .ckCart .orderInfo{width: 50%;text-align: right;}
.orderList{border-bottom: 1px dotted #2C2C3C;padding: 10px 0;}
.oderRow{overflow: hidden;padding: 10px 0;border-bottom: 1px solid #CFCFD7}
.oderRow:last-child{border-bottom: none;}
  .wImg{float: left;width: 85px;height: 85px;margin-right:15px;text-align: center;background: #fff}
    .wImg img{max-width: 100%;max-height: 100%}
  .wInfo{float: left;width: 200px;}
    .wName{font-family:"Helvetica-Bold";padding-bottom: 5px;}
    .wOvs{font-size: 12px;}
  .wCount{float: right;width:60%;overflow: hidden;}
    .wnInfo{width: 25%;float: left;text-align: center;line-height: 40px;font-size: 14px;}
  .ckCart .wnInfo{width: 50%;text-align: right;}
    .wQuan{width: 100px;background: url("../images/cart_quan.png") no-repeat 50% 50%;text-indent: -99999px;background-size: 100% auto}
    .ckCart .wQuan{background:none;text-indent:0}
    .cartEdit{overflow: hidden;float: right;line-height: 30px;}
      .proTotal{font-family: "Helvetica-Bold";text-align: right;}
      .delt,.cartLike{display: block;background: url("../images/delt.png") no-repeat 0 50%;background-size: 20px auto;padding:5px 0 5px 25px;cursor: pointer;text-align: left;line-height: 18px;}
      .cartLike{background-image: url("../images/like2.png");}
.wMore{overflow: hidden;padding: 15px 0 0}
  .msg{float: left;overflow: hidden;}
  .msg span{float: left;margin-right: 10px;display: block;line-height: 38px;}
  #MsgIpt{background: #fff;width: 520px;height: 38px;line-height: 38px;border: none;outline: none;}
  .totals{float: right;line-height: 40px}
    .totals span{font-family:"Helvetica-Bold";padding-right: 10px;}
    .totals em{font-size: 24px;}
.payList{padding: 15px 0;}
  .payBox{padding-bottom: 20px;}
  .btnBox{padding-bottom: 30px}
  .btnBox,.bbInner{overflow: hidden;}
  .btnBox .ptBtn{width: 200px;float: right;}
  .payList li{padding: 5px 0}
    .payType{display: block;background: url("../images/radio_un.png") no-repeat 0 50%;padding
    :5px 0 5px 35px;}
    .payType.active{background-image: url("../images/radio.png");}
    .alipay span,.wechat span{background: url("../images/pay1.png") no-repeat 0 50%;padding: 5px 0 5px 35px}
    .wechat span{background-image: url("../images/pay2.png")}

#OrderPage{padding: 140px 0 200px;}
.orderResult{width: 250px;background: url("../images/access.png") no-repeat 50% 0;padding-top: 150px;margin: 0 auto;color:#71718f}
.odInfo{font-size: 16px;text-align: center;}
.thx{font-family: "PTSerif_Italic";font-size: 40px;line-height: 40px;padding: 10px 0 20px;text-align: center;}
.ckBtn{font-family: "PTSerif_Italic";display: block;width: 80%;margin: 0 auto;background: #71718f;color: #fff;text-align: center;line-height: 38px;border-radius: 3px;margin-bottom: 20px;}
.goHome{display: block;width: 80%;margin: 0 auto;text-align: center;color:#71718f}

/** footer  */
footer{background: #2C2C3C;color: #8383a6;font-family: "PTSerif";font-size: 12px}
.ftRow{border-bottom: 1px solid #3B3B4E;padding: 20px 0;}
.ftRow:last-child{border-bottom: 0;}
  .selLng{float:left;padding: 6px 0 0;}
  .lgTip{float: left;padding:3px 10px 0 0;}

  /**表单**/
  .selBlock{float: left; background:url("../images/select_arrow.png") no-repeat 90% 50%;font-size:14px;width:108px;height:24px;line-height:24px;border:1px solid #7A7A9E;position:relative;border-radius: 3px;}
  .selBlock.on{z-index:1}
  .selHtm{border:none;background:none;padding:0px 15px 0px 12px;margin:0;cursor:pointer;color:#7A7A9E;}
  .selVal{display:none;}
  .selBlock .selList{display:none;position:absolute;width:100%;top:-110%;left:-1px;border:1px solid #7A7A9E;background:#2C2C3C;z-index:100;border-radius: 3px;}
  .selBlock .selList li{padding:4px 18px 5px 12px;line-height:20px;cursor:pointer;color:#7A7A9E;}
  .selBlock .selList li:hover{color:#fff;}

.ftMenu{overflow: hidden;float: left;}
  .ftMenu li{float: left;padding:0 5px;}
  .ftMenu li:last-child span.mCut{display: none;}
  .ftMenu li a{color: #8383a6}
  #FtLogo{background: url("../images/logo_footer.png") no-repeat 50% 50%;display: block;float: right; width: 118px;height: 36px;text-indent: -999999px;}
#Copyright{float: right;}

