@charset "utf-8";
@font-face { 
  font-family: 'PTSerif';
  src: url('./font/pt-serif/PTF55F.ttf') format('truetype');
}
@font-face { 
  font-family: 'PTSerif_Italic';
  src: url('./font/pt-serif/PTF56F.ttf') format('truetype');
}
@font-face { 
  font-family: 'PTSerif_Bold';
  src: url('./font/pt-serif/PTF75F.ttf') format('truetype');
}
@font-face { 
  font-family: 'PTSerif_Bold_Italic';
  src: url('./font/pt-serif/PTF76F.ttf') format('truetype');
}
@font-face { 
  font-family: 'Helvetica';
  src: url('./font/helvetica/HelveticaNeueLTPro-Roman.ttf') format('truetype');
}
@font-face { 
  font-family: 'Helvetica-Bold';
  src: url('./font/helvetica/HelveticaNeueLTPro-Bd.ttf') format('truetype');
}
body {min-width: 1245px;background: #fff; color: #5C5C5C;font-family:"PTSerif",Arial,"Microsoft YaHei","微软雅黑","宋体"; font-size: 14px; line-height: 18px; margin: 0; padding: 0}
h1, h2, h3, h4, h5, h6, p, form { margin: 0; padding: 0; font-weight: normal; font-size: 14px; }
ul, li, menu, ol, dd, dl, dt { list-style: none outside none; margin: 0; padding: 0; }
img, a { border: medium none; color: #5C5C5C; text-decoration: none; }
em,i { font-style: normal; }
table td {border-collapse: collapse;padding:0;margin:0}
input[type=submit], input[type=button], button {cursor:pointer}
.clearn, .clear { clear: both; height: 0; }
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.hidden,.hide { display: none !important; visibility: hidden !important; }
.text { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.sbSeo{position: absolute;top: -5000px;}
.f_left{float:left}
.hided{display: none}

.inner{margin: 0 auto;width: 960px;}

header{background: #2C2C3C;padding: 10px 0;}
#LeftMenu{float: left;width: 50px;height: 40px;position: relative;}
	#MenuBtn{display: block;text-indent: -999999px;background: url("../images/menu.png") no-repeat 50% 15px;width:100%;height: 100%; }
	#MenuBtn.active{background-position:50% -71px }
#Logo{background: url("../images/logo.png") no-repeat 50% 50%;display: block;float: left;margin-right: 65px;width: 126px;height: 38px;text-indent: -999999px;}

.searchBox{overflow: hidden;float: right;padding-right: 20px;}
	.iptBlock{float: left;margin-right: 15px;}
	.iptSearch{color: #8b8bac;border: none;outline: none; border-radius: 3px;width:400px;padding: 12px 5px 12px 45px;background: url("../images/seach.png") no-repeat 16px 50% #3B3B52;}
	.searchBtn{float: left;display: block; width: 110px;line-height: 40px;height: 40px;background: #686886;border-radius: 3px; text-align: center;color: #fff;font-family: "PTSerif_Italic"}

#Menu {float: right;}
#Menu li{float: left;color: #8383a6;position: relative;text-align: center;line-height: 40px;padding: 0 5px;font-size: 12px;font-family: "Helvetica"}
	#Menu li:last-child span{display: none;}
	.mLink{color: #8383a6}
	.mLink:hover,.mLink.active{color: #fff}
  .mLink.hasSub{background: url("../images/arrow01.png") no-repeat right 50%;padding-right:15px;}
	.mCut{padding: 0 0 0 5px;}
	.cartConut{display: inline-block;background: #7ea656;color: #fff;font-family: "Helvetica-Bold";border-radius: 50%;width: 18px;height: 18px;text-align: center;line-height: 18px;}
.subMenu{display: none;}
#SlideMenu{padding: 0;height: 0;overflow: hidden;opacity: 0}
#SlideMenu ul{overflow: hidden;margin: 0 auto;width: 300px;}
#SlideMenu ul li{float: left;padding: 0 15px;}
#SlideMenu ul li a{color: #303042;font-size: 16px;display: block;padding-bottom: 10px;border-bottom: 3px solid transparent}
#SlideMenu ul li a.active{border-color: #2C2C3C}


.pages{padding: 0 0 50px}
/**首页**/
.homeSlide{margin-bottom: 60px;}
.blockHead{overflow: hidden;padding: 10px 0;border-bottom: 1px dotted #2C2C3C;line-height: 30px}
  .bLeft{font-family:"PTSerif_Italic";font-size: 28px;color: #303042;float: left;}
  .bRight{font-family:"PTSerif_Italic";float: right;font-size: 14px;}

.swiper-container {width: 100%;height: 400px;margin: 0 auto;padding-bottom: 20px}
.swiper-slide {background: url('../images/slide/slide01.jpg') no-repeat 50% 50%;text-indent: -99999px;
    /* Center slide text vertically */
    display: -webkit-box;    display: -ms-flexbox;    display: -webkit-flex;
    display: flex;    -webkit-box-pack: center;    -ms-flex-pack: center;
    -webkit-justify-content: center;    justify-content: center;    -webkit-box-align: center;
    -ms-flex-align: center;    -webkit-align-items: center;    align-items: center;
}
.swiper-button-prev,.swiper-button-next{border-radius: 50%;background:url("../images/arrow_left.png") no-repeat 50% 50% rgba(44,44,60,0.8);width: 45px;height: 45px;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{left: 5%;right: auto;}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{left: auto;right: 5%;background-image:url("../images/arrow_right.png")}

/** footer  */
footer{background: #2C2C3C;color: #8383a6;font-family: ""}
.ftRow{border-bottom: 1px solid #3B3B4E;padding: 20px 0;}
.ftRow:last-child{border-bottom: 0;}
  .selLng{float:left;}
.ftMenu{overflow: hidden;float: left;}
  .ftMenu li{float: left;padding:0 5px;}
  .ftMenu li a{color: #8383a6}
#Copyright{float: right;}
