
	     <footer>
	     		<select name="Language" id="Language">
	     			<option selected="" >- <%=langs['language'][lgkey] %> -</option>
	     			<option value="1"  data-lg="en">English</option>
	     			<option value="2" data-lg="zh">中文</option>
	     		</select>
	        <ul>
	         <% footerMenu.forEach(function(m,k){ %>
	         <% if(m['multi']){%>
	          <li><%= m['multi'][lgkey] %>
	            <ul>
	              <% m['sublevel'].forEach(function(sm,key){ %>
	              <li><%= sm[lgkey] %></li>
	              <% }) %>
	            </ul>
	          </li>
	         <% }else{ %>
	          <li><%= m[lgkey] %></li>
	         <% }}) %>
	         </ul>
	     </footer>
     </div>
  </body>
</html>
