<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,IE=9,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <script src="/javascripts/jquery-1.9.1.js"></script>
    <script src="/javascripts/base.js"></script>

    <script src="/javascripts/Swiper-3.3.1/js/swiper.min.js"></script>
    <link rel='stylesheet' href='/javascripts/Swiper-3.3.1/css/swiper.min.css'/>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/mobile.css' />

    <script src="/javascripts/jquery.scrollTo2.js"></script>
    <script src="/javascripts/blazy-master/blazy.min.js"></script>
    <script src="/javascripts/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
    <link rel='stylesheet' href='/javascripts/perfect-scrollbar/css/perfect-scrollbar.min.css' />
  </head>
  <body class="<%=lang%>">
		<div id="Wrapper">