<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/javascripts/jquery-1.9.1.js"></script>
    <script src="/javascripts/base.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/mobile.css' />

    <script src="/javascripts/Swiper-3.3.1/js/swiper.min.js"></script>
    <link rel='stylesheet' href='/javascripts/Swiper-3.3.1/css/swiper.min.css'/>
  </head>
  <body class="<%=lang%>">
		<div id="Wrapper">