<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/javascripts/jquery-1.9.1.js"></script>
    <script src="/javascripts/base.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/mobile.css' />
  </head>
  <body class="<%=lang%>">